body{
	font-family: Arial;
}

.odd {
	background-color: #edf3ff;
}

#forumPageContent{
	width: 60%;
	margin: auto;
}

#forumPageContent a {
	text-decoration: none;
}

#forumPageContent a:link {
	color: blue;
}

#forumPageContent a:visited {
	color: blue;
}

#forumPageContent a:hover {
	text-decoration: underline;
}

#forumPageContent a:active {
	color: red;
}

.reactieForm {
	width: 100%;
	margin: auto;
	margin-top: 5%;
}

#reactieLabel {
	float: left;
	clear: both;
}

table {
	border-collapse: collapse;
}

#nieuwePostLabel {
	width: 30%;
	color: blue;
}

#nieuwePostText {
	align-text: left;
}

tr > :nth-child(1) {
	width: 83%;
	margin: auto;
}

tr > :nth-child(2) {
	width: 200px;
}

table {
	margin: auto;
}

table th {
	text-align: left;
}

h6 {
	font-size: 1.5em;
	margin:  20px 0 0 0;
	color: #0065B3;
}

.post p {
	font-family: Verdana;
}

#reactieTextBox {
	float: left;
	clear: both;
	width: 70%;
}

.reactieArticle{
	min-height: 20px;
	padding: 19px;
	margin-top: 20px;
	border: 1px solid #e3e3e3;
	border-radius: 4px;
	clear: both;
}

#onderwerpenTabel{
	margin-top: 30px;
}

.lijn{
	border-top: 1px double #0065B3;
	width: 95%;
}

#postButton {
	margin: 25px 0px 40px 20px;
	padding: 20px 20px 20px 20px;
	float: right;
}

.reacties {
	width: 100%;
	margin: auto;
}

.reacties h6 {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 1em;
	color: #0065B3;
}

h5 {
	font-size: 0.9em;
	margin-top: 0;
	margin-bottom: 0;
	color: #666;
}

.error {
	float: left;
	clear: both;
	color: red;
}