/*Josh*/
body {
	font-family: Arial;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

li {
	float:left;
}

li:last-child {
	border-left: none;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover {
    background-color: #111;
}


li.left {
    float: left;
	border-right: 1px solid #bbb;
}


.slide {
	display: none;
	width:100%;
	max-height: 400px;
	-webkit-transition:all .3s ease-in;
}

.slideshow {
	padding-top: 0px;
	margin: 0 auto;
	max-width: 70%;
	margin-bottom: 0px;
	padding-bottom:0px;
}

.buttons {
	width:70%;
	margin: 0 auto;
	height: 100px;
}

.button{
	width:33%;
	height:100%;
	vertical-align: top;
	background-color: #0065B3; 
    border: none;
    color: white;
	text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button:hover{
	background-color: #43B9F1;
	-webkit-transition:all .3s ease-in;
}

.referral
{
    visibility: hidden;
}

.juicer-feed
{
    background: white !important;
	padding-top: -100px;
	margin-top: -100px;
}

.juicer-feed .j-meta a{
	color:#666;
}

.j-text{
	background-color: white;
}

.j-meta ul{
	background-color: white;
}

.li a:hover{
	color: white;
}

.button p {
	text-decoration: none;
	color: white;
}

.button a {
	text-decoration: none;
}

.active {
  background-color: #b8b500;
  -webkit-transition:all .4s ease-in;
}

.active:hover {
  background-color: #d9db4f;
  -webkit-transition:all .4s ease-in;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-name: fade;
  animation-duration: 2s;
}

@-webkit-keyframes fade {
  from {opacity: .2} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .2} 
  to {opacity: 1}
}

hr.style2 {
	border-top: 1px double #0065B3;
	width: 150px;
}

hr.style3 {
	border-top: 1px double #0065B3;
	width: 100%;
}

hr.style4 {
	border-top: 1px double #0065B3;
	width: 80%;
}

.filters{
	text-align: left;
	float: left;
	margin-left: 10%;
	margin-top: 70px;
}

.filters p{
	font-weight: bold;
	text-align:center;
}

.filters h3 {
	text-align:center;
}

.filters  input{
	margin-left:30%;
	margin-right: 10px;
}

.itemsReturn {
	width:65%;
	float:left;
	margin-bottom:15px;
	margin-top: 80px;
	margin-left:20px;
	display: inline-block;
}

.itemsReturn h3 {
	width:40%;
	font-size:1.5em;
	margin-left: 20px;
	float:left;
}

.item h3:hover {
	color: #43B9F1;
	-webkit-transition:all .3s ease-in;
}

.item p {
	font-size:1.15em;
	width: 40%;
	vertical-align:top;
	float:left;
	background-color:white;
	margin-left: 20px;
}

.item img{
	float:left;
	width: 250px;
	height: 250px;
	border: 1px solid #0065B3;
	margin-top: 5px;
	margin-bottom:24px;
}

.item img:hover{
	box-shadow: 7px 7px 10px grey;
	-webkit-transition:all .3s ease-in;
}

.portfolioitem h1{
	background-color:yellow;
	font-size: 2em;
	margin-bottom:0px;
	color: #0065B3;
	margin-left: 20%;
	margin-top:22px;
}

.portfolioitem h2 {
	font-size: 2em;
	color: #0065B3;
	margin-left:20%;
}

.portfolioitem h3 {
	margin-top:0px;
	background-color:green;
	font-size: 0.6em;
	margin-left:20%;
	width:80%;
}

.portfolioitem p {
	font-size: 1.1em;
	margin-left:20%;
	margin-top:10px;
	background-color:deeppink;
}

.media {
	width: 80%;
	margin-left:20%;
}

.afbeelding {
	float:left;
	width: 250px;
	height: 250px;
	border: 1px solid #0065B3;
	margin-top: 18px;
	margin-bottom:24px;
}

	
