/*Josh*/
body {
	font-family: Arial;
}

/*Slideshow&Buttons*/
.slide {
	display: none;
	height: 500px;
	width:100%;
	-webkit-transition:all .3s ease-in;
}

.slideshow {
	padding-top: 0px;
	margin: 0 auto;
	max-width: 100%;
	margin-bottom: 0px;
	padding-bottom:0px;
}

.buttons {
	width:100%;
	margin: 0 auto;
	height: 100px;
}

.button{
	width:33%;
	height:100%;
	vertical-align: top;
	background-color: #0065B3; 
    border: none;
    color: white;
	text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button:hover{
	background-color: #43B9F1;
	-webkit-transition:all .3s ease-in;
}


.button p {
	text-decoration: none;
	color: white;
	font-size: 1.2em;
	font-family: "Franklin Gothic";
}

.button a {
	text-decoration: none;
}

#button1 {
border-radius: 0px 0px 0px 15px;
}

#button3 {
border-radius: 0px 0px 15px 0px;
}

#button2{
margin-left: 0.47%;
margin-right: 0.47%;
}

.active {
  background-color: #ff2200;
  -webkit-transition:all .4s ease-in;
}

.active:hover{
  background-color: #ff6f00;
  -webkit-transition:all .4s ease-in;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-name: fade;
  animation-duration: 2s;
}

@-webkit-keyframes fade {
  from {opacity: .2} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .2} 
  to {opacity: 1}
}

/*Media feed*/
.referral {
    visibility: hidden;
}

.juicer-feed {
    background: white !important;
	padding-top: -100px;
	margin-top: -100px;
}

.juicer-feed .j-meta a {
	color:#666;
}

.j-text {
	background-color: white;
}

.j-meta ul {
	background-color: white;
}

.j-poster li a:hover {
	color: white;
}

.feed-item juicer image-post {
visibility: hidden;
}

.j-poster{
visibility: hidden;
}

.juicer-feed {
	overflow-y: auto;
	padding-right: 17px;
}

.jfilters ul {
background-color: white;
}

.feed h2{
font-size: 1.2em;
margin: 0 auto;
text-align: center;
color: #0065B3;
}

/*divider lines styles*/
hr.style2 {
	border-top: 1px double #0065B3;
	width: 100%;
}

hr.style3 {
	border-top: 1px double #0065B3;
	width: 100%;
}

hr.style4 {
	border-top: 1px double #0065B3;
	width: 100%;
}

hr.style5 {
	border-top: 1px double #0065B3;
	width: 95%;
}

/*Forum overzicht home*/
.forumoverzicht a {
	text-decoration: none;
	color: black;
	background-color: #f5f5f5;
}

.forumoverzicht h2{
	font-size: 1.2em;
	margin: 0 auto;
	text-align: center;
	color: #0065B3;
}

.forumposthome {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
}

.forumposthome:hover {
	background-color: #43B9F1;
	-webkit-transition:all 1s ease-in;
}

.forumposthome h4 {
	font-size: 1.4em;
	margin: 0 0 0 0;
	color: #0065B3;
}

.forumposthome h5 {
	font-size: 0.9em;
	margin: 0 0 0 0;
	color: #666;
	padding-top: 0;
}

.forumposthome h6 {
	font-size: 0.9em;
	margin: 0 0 0 0;
	color: #666;
}


/*portfolio pagina*/
.filters{
	text-align: left;
	float: left;
	margin-top: 5%;
	width: 30%;
}

.filters p{
	font-weight: bold;
	text-align:center;
}

#form h3 {
	text-align:center;
	margin-bottom: 10px;

}

.filters  input{
	margin-right: 10px;
}

#form{
	float: left;
	width: 50%;
	margin-left: 25%;
	margin-right: 25%;
}

#send {
margin-bottom: 15%;
}


/*Portfoliopagina item weergave*/
.itemsReturn {
	width:65%;
	float:left;
	margin-bottom:15px;
	margin-top: 80px;
	margin-left:20px;
	display: inline-block;
}

.item {
width:100%;
}

.leesmeer{
	text-decoration: none;
	color: black;
	font-size: .8em;
	font-family: "Franklin Gothic";
}

.leesmeer:hover{
	color: #43B9F1;
	-webkit-transition:all .3s ease-in;
}

.item h1 a{
	text-decoration: none;
	color: #0065B3;
	font-size: 1em;
	margin-left: 2%;
	font-family: "Franklin Gothic";
}

.item h1 a:hover {
	color: #43B9F1;
	-webkit-transition:all .3s ease-in;
	font-family: "Franklin Gothic";
}

.item h2{
	width: 40%;
	float:left;
	font-size: 1em;
	margin-left: 2%;
	font-family: "Franklin Gothic";
}

.item p {
	font-size:.95em;
	width: 40%;
	vertical-align:top;
	float:left;
	background-color:white;
	margin-left: 2%;
	font-family: "Franklin Gothic";
	line-height: 15px;
}

.item img{
	float:left;
	width: 250px;
	height: 250px;
	border: 1px solid #0065B3;
	margin-top: 5px;
	margin-bottom:24px;
}

.item img:hover{
	box-shadow: 7px 7px 10px grey;
	-webkit-transition:all .3s ease-in;
}

#sorteer {
	background-color: #0065B3;
	text-align:center !important;
	width: 80%;
	margin-right: 0px;
	margin-left: 10%;
	cursor: pointer;
}

#sorteer:hover {
	background-color: #43B9F1;
	-webkit-transition:all .3s ease-in;
	cursor: pointer;
}

/*portfolio detail pagina*/
.portfolioitem h1 {
	color: #0065B3;
	font-size: 2em;
	margin-left: 2%;
	font-family: "Franklin Gothic";
	margin-bottom: 0;
}

.portfolioitem h2{
	width: 100%;
	float:left;
	font-size: 1em;
	margin-left: 2%;
	font-family: "Franklin Gothic";
}

.portfolioitem h3{
	width: 100%;
	color: #0065B3;
	float:left;
	font-size: 2em;
	margin-left: 2%;
	margin-top:4%;
	font-family: "Franklin Gothic";
}

.portfolioitem p {
	font-size:.95em;
	width: 100%;
	vertical-align:top;
	float:left;
	background-color:white;
	margin-left: 2%;
	font-family: "Franklin Gothic";
	line-height: 15px;
	margin-top: 0;
}

.media {
	width: 100%;
	display: table;
}

.afbeelding {
	float:left;
	width: 20%;
	height: 250px;
	border: 1px solid #0065B3;
	margin-top: 1%;
	margin-bottom:1.5%;
	margin-left: 2.35%;
	margin-right: 2.35%;	
	display: table-cell;
}

.yt{
	max-height: 400px;
	width: 70%;
	margin-left: 15%;
}

.reactie h6{
	margin-top: 0;
	margin-bottom: 0;
	font-size: 1em;
	color: #0065B3;
}

.reactie h5 {
	font-size: 0.9em;
	margin-top: 0;
	margin-bottom: 0;
	color: #666;
}

.reactie p {
	margin-top: 0;
	font-size: 1em;
}

.reactie{
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
}

.nieuwereactieform{
	margin-top: 2.5%;
	width: 100%;
}

.nieuwereactieform h6{
	margin-left: 1.5%;
	margin-bottom: 0.5%;
	font-size: 1.1em;
	color: #0065B3;
}


#veld{
	width: 100%;
	margin-left: 0;
}

#portforeactie {
	background-color: #0065B3;
	text-align:center !important;
	padding: 0 0 0 0;
	width: 10%;
	height:50px;
	margin-top: 1%;
	margin-right: 45%;
	margin-left: 45%;
	cursor: pointer;
	margin-bottom: 1%;
}

#porforeactie:hover{
	background-color:#43B9F1;
	-webkit-transition: all .3s ease-in;
}
	
