/*Josh*/
body {
	font-family: Arial;
}

/*Slideshow&Buttons*/
.slide {
	display: none;
	height: 500px;
	width:100%;
	-webkit-transition:all .3s ease-in;
}

.slideshow {
	padding-top: 0px;
	margin: 0 auto;
	max-width: 100%;
	margin-bottom: 0px;
	padding-bottom:0px;
}

.buttons {
	width:100%;
	margin: 0 auto;
	height: 100px;
}

.button{
	width:33%;
	height:100%;
	vertical-align: top;
	background-color: #0065B3; 
    border: none;
    color: white;
	text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button:hover{
	background-color: #43B9F1;
	-webkit-transition:all .3s ease-in;
}


.button p {
	text-decoration: none;
	color: white;
}

.button a {
	text-decoration: none;
}

#button1 {
border-radius: 0px 0px 0px 15px;
}

#button3 {
border-radius: 0px 0px 15px 0px;
}

#button2{
margin-left: 0.47%;
margin-right: 0.47%;
}

.active {
  background-color: #ff2200;
  -webkit-transition:all .4s ease-in;
}

.active:hover{
  background-color: #ff6f00;
  -webkit-transition:all .4s ease-in;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-name: fade;
  animation-duration: 2s;
}

@-webkit-keyframes fade {
  from {opacity: .2} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .2} 
  to {opacity: 1}
}

/*Media feed*/
.referral {
    visibility: hidden;
}

.juicer-feed {
    background: white !important;
	padding-top: -100px;
	margin-top: -100px;
}

.juicer-feed .j-meta a {
	color:#666;
}

.j-text {
	background-color: white;
}

.j-meta ul {
	background-color: white;
}

.j-poster li a:hover {
	color: white;
}

.feed-item juicer image-post {
visibility: hidden;
}

.j-poster{
visibility: hidden;
}

.juicer-feed {
	overflow-y: auto;
	padding-right: 17px;
}

.jfilters ul {
background-color: white;
}

.feed h2{
font-size: 1.2em;
margin: 0 auto;
text-align: center;
color: #0065B3;
}

/*divider lines styles*/
hr.style2 {
	border-top: 1px double #0065B3;
	width: 150px;
}

hr.style3 {
	border-top: 1px double #0065B3;
	width: 100%;
}

hr.style4 {
	border-top: 1px double #0065B3;
	width: 100%;
}

/*Forum overzicht home*/
.forumoverzicht a {
text-decoration: none;
color: black;
background-color: #f5f5f5;
}

.forumoverzicht h2{
font-size: 1.2em;
margin: 0 auto;
text-align: center;
color: #0065B3;
}

.forumposthome {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
}

.forumposthome:hover {
	background-color: #43B9F1;
	-webkit-transition:all 1s ease-in;
}

.forumposthome h4 {
	font-size: 1.4em;
	margin: 0 0 0 0;
	color: #0065B3;
}

.forumposthome h5 {
	font-size: 0.9em;
	margin: 0 0 0 0;
	color: #666;
	padding-top: 0;
}

.forumposthome h6 {
	font-size: 0.9em;
	margin: 0 0 0 0;
	color: #666;
}




/*portfolio pagina*/
.filters{
	text-align: left;
	float: left;
	margin-left: 10%;
	margin-top: 70px;
}

.filters p{
	font-weight: bold;
	text-align:center;
}

.filters h3 {
	text-align:center;
}

.filters  input{
	margin-left:30%;
	margin-right: 10px;
}

.itemsReturn {
	width:65%;
	float:left;
	margin-bottom:15px;
	margin-top: 80px;
	margin-left:20px;
	display: inline-block;
}

.itemsReturn h3 {
	width:40%;
	font-size:1.5em;
	margin-left: 20px;
	float:left;
}

.item h3:hover {
	color: #43B9F1;
	-webkit-transition:all .3s ease-in;
}

.item p {
	font-size:1.15em;
	width: 40%;
	vertical-align:top;
	float:left;
	background-color:white;
	margin-left: 20px;
}

.item img{
	float:left;
	width: 250px;
	height: 250px;
	border: 1px solid #0065B3;
	margin-top: 5px;
	margin-bottom:24px;
}

.item img:hover{
	box-shadow: 7px 7px 10px grey;
	-webkit-transition:all .3s ease-in;
}

.portfolioitem h1{
	font-size: 2em;
	margin-bottom:0px;
	color: #0065B3;
	margin-left: 10%;
	margin-top:22px;
}

.portfolioitem h2 {
	font-size: 2em;
	color: #0065B3;
	margin-left:10%;
}

.portfolioitem h3 {
	margin-top:0px;
	font-size: 0.7em;
	width:80%;
}

.portfolioitem p {
	font-size: 1.1em;
	margin-top:10px;
}

/*portfolio detail pagina*/
.media {
	width: 100%;
}

.afbeelding {
	float:left;
	width: 250px;
	height: 250px;
	border: 1px solid #0065B3;
	margin-top: 18px;
	margin-bottom:24px;
}

.yt{
	max-height: 400px;
	width: 100%;
}
	
