body{
	margin: auto;
	width: 65%;
	background-image: url(../img/header_background.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-size: 65%;
	background-position: center top;
	background-border: none;
}

#menu_table{
	float: right;
	height: 5%;
	border: none;
	border-spacing: 0px;
}

#menu_table th{
	border-right: 1px solid black;
	padding: 0px 20px 0px 20px;
	font-weight: normal;
	background-color: white;
}

#first_menu_item{
	border-left: 1px solid black;
}

#inholland_logo{
	width: 20%;
}

#spacing_section{
	height: 20%;
}

h2{
	color: blue;
}
